<h1>Select Tools</h1>

<form method="POST" action="/tools/job/<%=@job.id%>">
<% @tools.each do |tool|%>
    <p>Reference Number: <%= tool.reference_number.to_s%></p><br>
    <p>Tool Description: <%= tool.tool_description%></p><br>


    <input type="radio" name="job[tools][][<%=tool.id%>">
    <input type="hidden" name="_method" value="PATCH">
    <button type="submit">Add Tool</button>
    <hr>
<% end%>

</form>