<h2>Edit Job</h2>

<form method="POST" action="/jobs/<%=@job.id%>">
        <label for="description">Description</label>
        <input id="hidden" type="text" name="description" value="<%=@job.description%>">
        <input id="hidden"type="hidden" name="_method" value="PATCH">
        <br>
        <br>
        <label for="summary">Summary</label>
        <input type="text" name="summary" value="<%=@job.summary%>"><br>
        <input type="hidden" name="_method" value="PATCH">
        <br>
        <br>
        <input type="submit" value="Submit Changes">


        <br>
        <br>
        <br>
        <br>

</form>
        <br>
        <br>
        <br>
        <br>

    <a href="/jobs/<%=@job.id%>">Back to Job - Note, any changes you make will not be saved unless you Submit. </a></li>