<h1>Jobs</h1>
<br>
<p><a href="/jobs/new">Create New Job</a></p>
<br>
<br>
<br>
<% @jobs.each do |job|%>
    <ul>
        <li><p>Reference Number: <%= job.reference_number.to_s%></p></li>
        <li><p>Job Summary: <%= job.summary%></p></li>
        <li><p>Job Description: <%= job.description%></p></li>
        <li><a href="/jobs/<%= job.id%>">Go To Job</a></li>
        <hr>
    </ul>
    <br>
    <br>
<% end%>
