<h1>Create New Job</h1>
<br>

<br>
<form method="POST" action="/index">
    <label for="reference_number">Enter Reference Number</label>
    <input type="text" name="reference_number"><br>
    <label for="description">Enter Brief Job Description</label>
    <input type="text" name="description"><br>
    <label for="summary">Summarize Job</label>
    <input type="text" name="summary"><br>
    <br>
    <input type="submit" value="Sign Up">
</form>