<h1>Login Page</h1>

<form method="POST" action="/login">
    <label for="username">Enter Your Username</label>
    <input type="text" name="username"><br>
    <label for="password">Enter Your Password</label>
    <input type="password" name="password"><br>
    <input type="submit" name="Login">
</form>

