<h1>Sign Up</h1>
<br>
<%= @errors%><br>
<br>
<form method="POST" action="/signup">
    <label for="username">Choose Username</label>
    <input type="text" name="username"><br>
    <label for="password">Choose Password</label>
    <input type="password" name="password"><br>
    <label for="first_name">Enter Your First Name</label>
    <input type="text" name="first_name"><br>
    <label for="last_name">Enter Your Last Name</label>
    <input type="text" name="last_name"><br>
    <label for="department">Enter Your Department</label>
    <input type="text" name="department"><br>
    <label for="position">Enter Your Position</label>
    <input type="text" name="position"><br>
    <br>
    <input type="submit" value="Sign Up">
</form>