<h1>Sign Up</h1>
<form method="POST" action="/signup">
    <input type="text" name="user[username]">
    <input type="password" name="user[password]">
    <input type="submit" value="Sign Up">
</form>